<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.jieweifu.bluetoothSDK" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>bluetoothSDK</name>
    <js-module name="BluetoothSDK" src="www/bluetoothSDK.js">
        <clobbers target="bluetoothSDK" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="BluetoothSDK">
                <param name="ios-package" value="BluetoothSDK" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
            <string>App需要您的同意,才能访问蓝牙</string>
        </config-file>
        <header-file src="src/ios/BluetoothSDK.h"/>
        <source-file src="src/ios/BluetoothSDK.m" />
        <framework src="src/ios/lib/pl_sigmesh.framework" custom="true" />
    </platform>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BluetoothSDK">
                <param name="android-package" value="com.jieweifu.bluetoothSDK.BluetoothSDK" />
            </feature>
        </config-file>
        <config-file parent="/manifest" mode="merge" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <!-- SDCard中创建与删除文件权限 -->
            <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
            <!-- 向SDCard写入数据权限 -->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <config-file parent="/manifest/application" mode="merge" target="AndroidManifest.xml">
            <service android:name="com.pairlink.sigmesh.lib.PlSigMeshService"></service>
        </config-file>

        <lib-file src="src/android/libs/log4j-1.2.17.jar" />
        <lib-file src="src/android/libs/pl_sigmesh.jar" />
        <source-file src="src/android/libs/armeabi-v7a/libnative-lib.so" target-dir="libs/armeabi" />
        <source-file src="src/android/BluetoothSDK.java" target-dir="src/com/jieweifu/bluetoothSDK" />
        <framework src="com.google.code.gson:gson:2.2.4" />
    </platform>
</plugin>