<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.jieweifu.bluetoothSDK" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>bluetoothSDK</name>
    <js-module name="BluetoothSDK" src="www/bluetoothSDK.js">
        <clobbers target="cordova.plugins.bluetoothSDK" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
        <feature name="BluetoothSDK">
            <param name="ios-package" value="BluetoothSDK" />
        </feature>
        </config-file>
        <header-file src="src/ios/BluetoothSDK.h"/>
        <source-file src="src/ios/BluetoothSDK.m" />
        <framework src="src/ios/lib/pl_sigmesh.framework" custom="true" />
    </platform>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="bluetoothSDK">
            <param name="android-package" value="com.jieweifu.bluetoothSDK.bluetoothSDK" />
        </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/bluetoothSDK.java" target-dir="src/com/jieweifu/bluetoothSDK/bluetoothSDK" />
    </platform>
</plugin>